:root {
  --badgeColor: #1aa1b9;
  --blue: #0290ff;
  --darkblue: rgb(0, 117, 207) f;
  --black: #121212;
  --wihite-2: #a0a0a0;
  --lightblue: #4386bf;
  --white: #e8e8e8;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid #afafaf;
  padding: 1rem;
}

a:visited {
  color: var(--blue);
}

ul {
  list-style: none;
}

img {
  width: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.menuLinks {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.rocket-img {
  width: 15rem;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.rocket-ele {
  display: flex;
  margin: 1rem;
}

.reserved-rocket {
  border: 1px solid var(--wihite-2);
  border-radius: 5px;
  width: 8.5rem;
  height: 2rem;
  color: var(--wihite-2);
  background-color: rgba(255, 0, 0, 0);
}

.unreserve-rocket {
  border: none;
  border-radius: 5px;
  width: 8.5rem;
  height: 2rem;
  color: white;
  background-color: var(--blue);
}

.first-word {
  color: red;
}

.reserved-badge {
  background-color: var(--badgeColor);
  color: white;
  width: min-content;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
  font-size: 12px;
}

.rocket-description {
  display: inline-block;
  margin-bottom: 10px;
}

.rocket-description-text {
  color: black;
  margin-bottom: 10px;
}
