:root {
  --badgeColor: #1aa1b9;
  --blue: #0290ff;
  --darkblue: rgb(0, 117, 207) f;
  --black: #121212;
  --wihite-2: #a0a0a0;
  --lightblue: #4386bf;
  --white: #e8e8e8;
  --secondary-color: #8d8a8a;
  --accent-color: #579bb1;
  --text-color: #514f4f;
  --container-margin: 1rem 5rem 1rem 5rem;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid #afafaf;
  padding: 1rem;
}

a:visited {
  color: var(--blue);
}

ul {
  list-style: none;
}

img {
  width: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.menuLinks {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.rocket-img {
  width: 15rem;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.rocket-ele {
  display: flex;
  margin: 1rem;
}

.reserved-rocket {
  border: 1px solid var(--wihite-2);
  border-radius: 5px;
  width: 8.5rem;
  height: 2rem;
  color: var(--wihite-2);
  background-color: rgba(255, 0, 0, 0);
}

.unreserve-rocket {
  border: none;
  border-radius: 5px;
  width: 8.5rem;
  height: 2rem;
  color: white;
  background-color: var(--blue);
}

.first-word {
  color: red;
}

.reserved-badge {
  background-color: var(--badgeColor);
  color: white;
  width: min-content;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
  font-size: 12px;
}

.rocket-description {
  display: inline-block;
  margin-bottom: 10px;
}

.rocket-description-text {
  color: black;
  margin-bottom: 10px;
}

/* ============= MISSIONS PAGE ================== */
.missionContainer {
  margin: var(--container-margin);
}

.missions {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid var(--secondary-color);
  text-align: left;
  padding: 8px;
  font-size: 1.2rem;
}

td {
  border: 1px solid var(--secondary-color);
  text-align: left;
  justify-content: flex-start;
  padding: 8px;
}

td:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 0 0 0 !important;
}

td:nth-child(3) {
  width: 10rem;
  text-align: center;
}

td:nth-child(4) {
  width: 10rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(231, 229, 229);
}

.member-badge {
  padding: 0.2rem;
  margin-right: 0.4rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  border-radius: 0.2rem;
  letter-spacing: 0.1rem;
  background-color: var(--secondary-color);
}

.active-mission {
  background-color: var(--accent-color);
}

.joinBtn {
  padding: 0.6rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: whitesmoke;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.23rem;
  cursor: pointer;
}

.leaveBtn {
  padding: 0.6rem;
  font-size: 1rem;
  color: red;
  background-color: white;
  border: 0.1rem solid red;
  border-radius: 0.23rem;
  cursor: pointer;
}

/* ============== END MISSION PAGE==================== */

/* ================== MY PROFILE PAGE =================== */
.ProfileContainer {
  margin: var(--container-margin);
  display: flex;
  gap: 5rem;
}

.myMissions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.myRockets {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 700;
}

.myMissionsList {
  list-style: none;
}

.item {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: none;
  border-top: 0.1rem solid var(--secondary-color);
  border-left: 0.1rem solid var(--secondary-color);
  border-right: 0.1rem solid var(--secondary-color);
}

.item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.item:last-child {
  border-bottom: 0.1rem solid var(--secondary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* ============== END MyProfile PAGE==================== */
